# Electric Vehicle Data Analysis and Visualization Milestone 4

First source of data, that I have collected, is from the below website which shows the Battery Electric Vehicles (BEVs) and Plug-in Hybrid Electric Vehicles (PHEVs) that are currently registered through Washington State Department of Licensing (DOL).

https://data.wa.gov/Transportation/Electric-Vehicle-Population-Data/f6w7-q2d2

https://catalog.data.gov/dataset/electric-vehicle-population-data/resource/fa51be35-691f-45d2-9f3e-535877965e69?inner_span=True

In [1]:
# reading 
import pandas as pd
df = pd.read_csv("ms1_output.csv")
df.head(5)

,Unnamed: 0,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Range,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract,Vehicle Type,CAFV Eligibility,Electric Range Category
0,2,JN1AZ0CP8B,Yakima,Yakima,WA,98901,2011,NISSAN,LEAF,73,15.0,218972519,POINT (-120.50721 46.60448),PACIFICORP,53077001602,BEV,Eligible,Low
1,3,1G1FW6S08H,Skagit,Concrete,WA,98237,2017,CHEVROLET,BOLT EV,238,39.0,186750406,POINT (-121.7515 48.53892),PUGET SOUND ENERGY INC,53057951101,BEV,Eligible,Mid
2,4,3FA6P0SU1K,Snohomish,Everett,WA,98201,2019,FORD,FUSION,26,38.0,2006714,POINT (-122.20596 47.97659),PUGET SOUND ENERGY INC,53061041500,PHEV,Not Eligible,Low
3,5,5YJ3E1EB5J,Snohomish,Bothell,WA,98021,2018,TESLA,MODEL 3,215,1.0,475635324,POINT (-122.18384 47.8031),PUGET SOUND ENERGY INC,53061051916,BEV,Eligible,Mid
4,6,1N4AZ0CP4D,Snohomish,Everett,WA,98203,2013,NISSAN,LEAF,75,38.0,253546023,POINT (-122.23019 47.94949),PUGET SOUND ENERGY INC,53061040900,BEV,Eligible,Low

In [2]:
df.shape

(112152, 18)

In [3]:
df.dtypes

Unnamed: 0                   int64
VIN (1-10)                  object
County                      object
City                        object
State                       object
Postal Code                  int64
Model Year                   int64
Make                        object
Model                       object
Electric Range               int64
Legislative District       float64
DOL Vehicle ID               int64
Vehicle Location            object
Electric Utility            object
2020 Census Tract            int64
Vehicle Type                object
CAFV Eligibility            object
Electric Range Category     object
dtype: object

In [4]:
df.rename(columns = {'VIN (1-10)':'VIN', 'Postal Code':'Postal_Code','Model Year':'Model_Year', 'Electric Range':'Electric_Range', 
                     'Legislative District' : 'Legislative_District', 
                     'DOL Vehicle ID':'DOL_Vehicle_ID', 
                     'Vehicle Location':'Vehicle_Location',
                     'Electric Utility':'Electric_Utility',
                     '2020 Census Tract':'2020_Census_Tract',
                     'Vehicle Type':'Vehicle_Type',
                     'CAFV Eligibility':'CAFV_Eligibility',
                     'Electric Range Category':'Electric_Range_Category'}, inplace = True)
df.dtypes

Unnamed: 0                   int64
VIN                         object
County                      object
City                        object
State                       object
Postal_Code                  int64
Model_Year                   int64
Make                        object
Model                       object
Electric_Range               int64
Legislative_District       float64
DOL_Vehicle_ID               int64
Vehicle_Location            object
Electric_Utility            object
2020_Census_Tract            int64
Vehicle_Type                object
CAFV_Eligibility            object
Electric_Range_Category     object
dtype: object

In [5]:
#dropping the state field as all records are from WA state, some of the other fields are also quite ot importent while doing analsys on EV data
df = df.drop(['VIN','Unnamed: 0','DOL_Vehicle_ID','2020_Census_Tract'], axis=1)

In [6]:
#There are several records where electric range is showing as 0, for battery operated vehicle. which is not correct, so deleting those records.
df = df[df.Electric_Range != 0]

# Read data from API to create dummy user data, then will do fuzzy matching to append the information to EV data to create dummy users

In [8]:
import json
from urllib.request import urlopen

# Show 2 random users
data = urlopen("https://randomuser.me/api?results=5000").read()
users = json.loads(data)["results"]

In [9]:
df.shape

(73055, 14)

In [11]:
type(users[0])

dict

In [12]:
users_df = pd.json_normalize(users)

In [13]:
users_df.head()

,gender,email,phone,cell,nat,name.title,name.first,name.last,location.street.number,location.street.name,...,login.sha256,dob.date,dob.age,registered.date,registered.age,id.name,id.value,picture.large,picture.medium,picture.thumbnail
0,female,aubrey.harcourt@example.com,Z68 V53-0891,K34 L29-8819,CA,Mrs,Aubrey,Harcourt,266,Pierre Ave,...,619cd556e69929087020e4d33c9a6dec2cfde68055bc00...,1965-10-03T20:39:33.681Z,57,2010-03-17T03:55:53.540Z,12,SIN,579234485,https://randomuser.me/api/portraits/women/69.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
1,female,viivi.hanninen@example.com,02-838-007,040-738-49-41,FI,Ms,Viivi,Hanninen,5467,Esplanadi,...,fe0c2d145719aa85111f136259ee457e29dfba4b78b585...,1985-02-02T17:10:04.866Z,38,2010-04-08T10:09:33.954Z,12,HETU,NaNNA968undefined,https://randomuser.me/api/portraits/women/61.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
2,male,eemil.nevala@example.com,04-606-689,042-000-72-40,FI,Mr,Eemil,Nevala,3158,Tahmelantie,...,ebf592bf1a1c79105902e22e7d3d56e1a356f0868900ee...,1963-12-14T15:30:30.917Z,59,2010-11-23T05:02:36.483Z,12,HETU,NaNNA863undefined,https://randomuser.me/api/portraits/men/97.jpg,https://randomuser.me/api/portraits/med/men/97...,https://randomuser.me/api/portraits/thumb/men/...
3,male,ludwig.wagensveld@example.com,(026) 2441080,(06) 98808807,NL,Mr,Ludwig,Wagensveld,9222,Jekerdal,...,b791b89ea2093e64136eb6f11a4041d75ceb0db2823f5e...,1987-12-21T18:43:00.479Z,35,2011-07-03T18:05:50.242Z,11,BSN,27738348,https://randomuser.me/api/portraits/men/47.jpg,https://randomuser.me/api/portraits/med/men/47...,https://randomuser.me/api/portraits/thumb/men/...
4,male,jonas.mortensen@example.com,20540116,82853863,DK,Mr,Jonas,Mortensen,1948,Solbakkevej,...,ae8794a237072b38da685df088012e8e10c5bd9233009d...,1978-06-03T09:07:05.838Z,44,2012-11-20T01:32:59.501Z,10,CPR,030678-2141,https://randomuser.me/api/portraits/men/74.jpg,https://randomuser.me/api/portraits/med/men/74...,https://randomuser.me/api/portraits/thumb/men/...

In [14]:
users_df.shape

(5000, 34)

In [15]:
users_df = users_df[['email','gender','dob.age']]

In [16]:
users_df.shape

(5000, 3)

In [19]:
import random
df['VID'] = pd.Series(
    random.choices(list(users_df['email']), k=len(df)), 
    index=df.index)

In [20]:
df['VID'].isna().sum()

0

In [21]:
users_df['email'].isna().sum()

0

# Step 1 : Conduct Fuzzy Matching

In [22]:
import difflib 
result=pd.merge(df,users_df, left_on='VID', right_on='email', how='left')

In [23]:
result.head()

,County,City,State,Postal_Code,Model_Year,Make,Model,Electric_Range,Legislative_District,Vehicle_Location,Electric_Utility,Vehicle_Type,CAFV_Eligibility,Electric_Range_Category,VID,email,gender,dob.age
0,Yakima,Yakima,WA,98901,2011,NISSAN,LEAF,73,15.0,POINT (-120.50721 46.60448),PACIFICORP,BEV,Eligible,Low,sofia.zavala@example.com,sofia.zavala@example.com,female,58
1,Skagit,Concrete,WA,98237,2017,CHEVROLET,BOLT EV,238,39.0,POINT (-121.7515 48.53892),PUGET SOUND ENERGY INC,BEV,Eligible,Mid,annett.christoph@example.com,annett.christoph@example.com,female,72
2,Snohomish,Everett,WA,98201,2019,FORD,FUSION,26,38.0,POINT (-122.20596 47.97659),PUGET SOUND ENERGY INC,PHEV,Not Eligible,Low,leccio.duarte@example.com,leccio.duarte@example.com,male,40
3,Snohomish,Bothell,WA,98021,2018,TESLA,MODEL 3,215,1.0,POINT (-122.18384 47.8031),PUGET SOUND ENERGY INC,BEV,Eligible,Mid,purificacion.gimenez@example.com,purificacion.gimenez@example.com,female,68
4,Snohomish,Everett,WA,98203,2013,NISSAN,LEAF,75,38.0,POINT (-122.23019 47.94949),PUGET SOUND ENERGY INC,BEV,Eligible,Low,umit.topaloglu@example.com,umit.topaloglu@example.com,male,28

# Step 2 : Find and Drop Duplicates

In [24]:
result=result.drop_duplicates(keep=False)
result.shape

(73834, 18)

# Step 3 : Identify bad data

In [26]:
result['State'].value_counts()

WA    73834
Name: State, dtype: int64

In [27]:
# As the complete data is based on Washington state, we can delete the state column
result = result.drop(['State'], axis=1)

# Step 4 : Format data into a more readable format

In [32]:
def get_gender(row):
    if row == 'male':
        return 'M'
    if row == 'female':
        return 'F'

In [33]:
result['gender'] = result['gender'].apply(get_gender)

In [34]:
result['gender'].value_counts()

F    37715
M    36119
Name: gender, dtype: int64

# Step 5 : Replace Header

In [37]:
result.rename(columns = {'dob.age':'Age', 'gender':'Gender'}, inplace = True)
result = result[['VID', 'Age', 'Gender']]
result.dtypes

VID       object
Age        int64
Gender    object
dtype: object

In [38]:
result.to_csv('C:\Bellevue University MSDS\DSC_540_Data_Preparation\Project\Project Milestone 4\ms4_output.csv')